/*
vert pale   f6f9f8 => f7f9f9 (gris neutre)
vert    56bdbd =>#d2000a (rouge opaque)
*/
/*
GENERAL
*/
html {
  min-height:100%;
  height: 100%;
}
body {
  margin: 0 auto;
  min-height:100%;
  height: 100%;
}

/* COULEURS */
a {
  color: #d2000a;
}
.navbar-nav > li > .dropdown-menu, .tab-box > .panel, .tab-box > .panel-box > .panel, .niche-box-team .content-box hr, hr.e, .datepicker-top-left, .datepicker-top-right {
  color: #d2000a !important;
}
.adv-img-classic-box .caption-inner p.sub-text, .nav-tabs > li:hover > a, .nav-tabs > li:hover > a i, .nav-tabs > li.active > a, .nav-tabs > li.active > a i, .list-group-item:not(.active):hover,
.icon-menu .navbar-collapse ul.nav > li > a:hover i, header .btn-search:hover, .nav.ms-minimal > li.active > a, .icon-background.boxed-inverse:not(.bg-color) .i-background, .icon-box-cell > i,
.advs-box.boxed a.btn, .advs-box.boxed a i, .dropdown.btn-group .active > a, .bootgrid-header .dropdown-item:hover, .navbar-default .navbar-nav > li > a:hover, .white .box-side-icon-small .icon-box i,
.side-menu .active > a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .advs-box-top-icon .icon,
.advs-box-top-icon.boxed .btn, .adv-img-full-content i.main-icon, .advs-box-multiple.boxed div i, .advs-box-top-icon.boxed .circle-button, div.call-action-box a, div.call-action-box a.btn, .text-color,
.boxed .circle-button:hover i, .boxed .circle-button, .tag-row i, .btn-text:hover, .btn-text:hover i, .pagination > .active > a, .pagination > li > a:hover, .datepicker-panel > ul > li:hover,
.adv-img-button-content .caption i, .social-line .social-group i.circle:hover, ul.minimal-primary-tabs li a, ul.minimal-primary-tabs li a.is-active {
  color: #d2000a !important;
}
/* remplacer vert pâle: #56bdbd */
[class*="col-md-"].boxed, .bg-color, .fa-angle-up.scroll-top, .niche-box-post.boxed .block-infos, .call-action-box, .white .img-box.adv-img-half-content .caption, .header-bootstrap {
  color: #d2000a !important;
}
i.circle, i.square, .social-group i.circle, .social-button i.circle, .header-base:not(.bg-cover), .timeline > li:hover > .timeline-badge, ul.side-menu li.active::before, #twosides-menu, .subline-bar, .accordion-list .list-group-item::before, .section-bg-color .table > tbody > tr, .advs-box-multiple div.circle, .advs-box.boxed .advs-box-content, .advs-box.boxed, .box-social-page, .advs-box-top-icon-img .icon {
  background-color: #d2000a !important;
}
.btn:hover, div.adv-img-side-content .btn:hover, div.adv-img-side-content .btn:hover i, .extra-content, .load-more-maso:hover, .nav.inner.ms-rounded li a:hover, .nav.inner.ms-rounded li.active a, .datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
  border-color: #d2000a !important;
  color: #d2000a !important;
}

/* boutons Taxos : rouge sur blanc */
.page-node-type-carnet-de-recherche .field--name-field-notions .field--label,
.page-node-type-entree-de-carnet .field--name-field-notions .field--label,
.page-node-type-cahier .field--name-field-notions .field--label,
.page-node-type-article .field--name-field-notions .field--label{
  color: #fff;
}
/* sur carnet de recherche seulement */
.field--name-field-notions .field--item a {
/*  border: 2px solid #d2000a !important;
  display: inline-block;
  color: #000;
  padding: 5px 3px;
  margin: 3px 2px;
  font-size: 10px;
  font-weight: bold;*/
}
/* sur carnet de recherche seulement - blanc sur rouge */
.page-node-type-carnet-de-recherche .field--name-field-notions .field--item a {
 color: #fff; 
}

/* Inversé : blanc sur rouge */
.page-node-type-entree-de-carnet .field--name-field-notions .field--item a,
.page-node-type-cahier .field--name-field-notions .field--item a,
.page-node-type-article .field--name-field-notions .field--item a {
  border: 2px solid #fff !important;
  color: #fff;
/*valider*/
  display: inline-block;
  padding: 5px 3px;
  margin: 3px 2px;
  font-size: 10px;
  font-weight: bold;
}

/*.rouge-pale {
  background-color: #d1a7a9 !important;
}*/


/* remplacer vert pale
[class*="col-md-"].boxed-inverse, .boxed-inverse, .section-bg-color, .section-two-blocks > .row > div:last-child,
.full-screen-page, .form-control, .pricing-table .list-group-item, .pricing-table, footer.footer-center .content,
.base-box.boxed-inverse, .advs-box.boxed-inverse, .table-striped > tbody > tr:nth-of-type(odd),
.section-bg-color .adv-img-down-text h2 a {
  background-color: #f7f9f9;
}

remplacer vert foncé
[class*="col-md-"].boxed, .bg-color, .fa-angle-up.scroll-top, .niche-box-post.boxed .block-infos, .call-action-box,
 .white .img-box.adv-img-half-content .caption, .header-bootstrap {
  background-color: #d2000a;
 }
*/

/* ACCUEIL */
/* fond blanc, contenu limité, au centre */
.block-accueil-livre,
.block-accueil-carnet {
  /*background: #f7f9f9;*/
  background: #fff;
  margin: 0;
  max-width: none;
}
/* fond gris, pleine largeur */
.block-accueil-actualite,
.block-accueil-cahier,
.block-accueil-evenement {
  background: #f7f9f9;
  margin: 0;
  max-width: none;
}

.section-bg-color {
  background-color: #f7f9f9;
}
/* Contenu principal, background à l'exclusion du header et footer */
.section-empty {
  background-color: #f7f9f9;
  padding-top: 45px;
  padding-bottom: 45px;
}
/*Éviter doubles marges*/
.section-empty .section-empty {
  padding-top: 0;
  padding-bottom: 0;
}
.container.content {
  padding-top: 45px;
  padding-bottom: 45px;
}
.section-empty > .content,
.section-bg-image > .content,
.section-bg-video > .content,
.section-bg-animation > .content,
.section-slider > .content,
.section-bg-color > .content {
  padding-top: 0px;
  padding-bottom: 0px;
/* was 90px 90px */
}

.section-empty .boxed-inverse,
.section-empty .advs-box.boxed-inverse {
  background-color: #ffffff;
}

.block-accueil-carnet .view-class-accueil-carnet,
.block-accueil-evenement .view-id-accueil-evenement {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background: #f7f9f9;
}

/* SECTIONS */
.view-class-actualites,
.view-class-auteurs,
.view-class-cahiers,
.view-class-carnets,
.view-class-laboratoires,
.view-class-livres,
.view-class-projets,
.view-class-evenements {

}
/* SECTION EVENEMENTS  */
.view-class-evenements .sub-text,
.adv-img-classic-box .caption-inner p.sub-text {
  font-weight: 900;
  color: #d2000a;
}
.view-class-evenements .img-box h2 {
  margin-bottom: 10px;
}
.view-class-evenements .grid-item .img-box:not([class*="row-"]), 
.view-class-evenements .grid-item .box, .grid-item .base-box {
  /* height: 100%;*/
  min-height: 227px;
}
.path-evenements .grid-item > div {
  padding-bottom: 2em;
}

/* SECTION AUTEURS  */
.view-class-auteurs .col-md-4 {
  margin-bottom: 2em;
}

/* noeud auteur */
.page-node-type-individu {}
.page-node-type-individu .col-md-4 {
  margin-left: -15px;
  margin-bottom: 15px;
}
.page-node-type-individu .views-field-title {
  font-weight: bold;
  font-size: 1.1525em;
}
/* SECTION LABORATOIRES  */
.view-class-laboratoires .sub-text {
  font-weight: bold;
  margin-bottom: 10px;
}

/* SECTION CAHIERS*/
.view-class-cahiers h4 {
  text-transform: none;
  font-weight: 700;
  color: #272b2b;
  font-size: 30px;
  line-height: 21px;
  padding-bottom: 1em;
}
.liste_cahier_date_no, 
.liste_cahier_auteur {
  font-weight: bold;
}
.liste_cahier_auteur {
  color: #d2000a;
}
/* PAGE CAHIER */
.page-node-type-cahier .section-bg-color .col-md-4 {
  padding-left: 0;
}
.section-bg-color {
  margin-bottom: 1em;
}
.view-article-vs-cahier .advs-box .btn:after {
  display: none;
}
.page-node-type-cahier .advs-box-top-icon-img.boxed-inverse .advs-box-content {
  padding: 30px 40px !important;
}


/* noeud chapitre */

/* noeud article de chapitre*/
.page-node-type-article-chapitre .col-md-9 .node-field-bibliographie,
.page-node-type-article-chapitre .col-md-9 .node-field-citation {
  color: #676a6b;
}

/* Liste Cahier */
.liste_cahier_date_no,
.liste_cahier_auteur {
  color: #000;
}
/* Noeud Cahier */
/* aligner titre EVA */
.page-node-type-cahier .view-eva h4 {
  text-align: center;
}

/*Champ field--name-field-responsable-cahier*/
.advs-box h3 .field--label {
  font-size: 14px;
}
.advs-box h3 .field__items {
  font-size: 20px;
  font-weight: normal;
}
/* EVA - aligner résumé à gauche */
.advs-box .advs-box-content p {
  text-align: left;
}

/* LISTE AUTEURS */
.img-box.circle img {
  max-width: 100%;
  height: auto;
}
.img-box.circle:before {
  transform: scale(1);
}
.img-box {
  overflow: visible;
}


/* accueil */
.view-class-accueil-cahier .boxed {
  background-color: #d2000a !important;
}
.block-accueil-actualite {
  /*  .accueil-actualite, qui fait 50% est centré */
}
/* fond, intérieur de la boite dans Actualité */
.path-frontpage .advs-box.boxed-inverse {
  background: #fff;
  padding: 0 25px 40px;
}
/*.niche-box-blog.boxed, .niche-box-blog.boxed-inverse*/

/* Contenant dans le bloc actualité */
.accueil-actualite {
  width: 50%;
  margin: 0 auto;
  max-width: 600px; /* 50% of 1200px, which was previous max-width of parent container */
}

.block-accueil-livre {

}
.view-class-accueil-livre {
  /*max-width: 1200px;*/
  /*margin: 0 auto;*/
  /*width: 100%;*/
  margin: 0 auto !important;
}
.view-class-accueil-livre .grid-box.row {
  margin: auto -15px;
}
/* Zoom sur livre, enlever responsive */
.advs-box .img-box img {
  max-width: none;
  width: auto;
}
/* Extraits du cahier sur Accueil, enlever responsive */
.gallery .img-box, .gallery .img-box img {
  width: auto;
  max-width: none;
}

/* Contenant dans le bloc cahier */
.block-accueil-cahier .section-bg-color {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.proporzional-row {
  max-width: 1140px;
  margin: 0 auto
}
.flexslider {
  margin-bottom: 0px !important;
}
/* Mouseovers sur l'accueil */
.adv-img-classic-box .caption-inner .big-text {
  opacity: 0;
}
.adv-img-classic-box:hover .caption-inner .big-text {
  opacity: 1;
}

/* Entree de carnet accueil */

/* Événements accueil */



/* Liste Carnets */

/* Noeud Carnet */
/* Ajuster hauteur image et infos avec (div.anima) */
.view-id-liste-carnets .col-md-8 {
  padding: 48px 50px !important;
}

/* Noeud Entrée Carnet */

.adv-img-classic-box .caption-inner h2 {
  font-size: 22px;
  line-height: 22px;
}
/* En cas d'image brisée ou manquante, conserver le format grille */
.view-entree-de-carnet-vs-carnet .grid-item .img-box:not([class*="row-"]), 
.view-entree-de-carnet-vs-carnet .grid-item .box, .grid-item .base-box {
  min-height: 307px;
}


/** Noeuds Laboratoire */
/* Marge autour des logos */
.page-node-type-laboratoire-recherche .field--name-field-portrait {
  padding: 10px;
}
.view-projet-recherche-vs-laboratoire-recherche .views-row {
  width: 33%;
  padding-right: 10px;
  /* todo cols col-md-4 */
}
/**
* CES SECTIONS POSSÈDENT LE BANDEAU LARGE (cacher titre)

ACTUALITÉ
CAHIER
ARTICLE CAHIER
CARNET
ENTREE CARNET

*/
#block-minimal-page-title {
  display: none;
}

#toolbar-item-administration-tray {
  /* z-index: */
}
.field_square_wrapper {
  background-color: #d2000a;
  padding: 20px;
  margin-bottom: 2em;
}

/* Fixer hauteur du bloc Infos et de l'image  */
/* TODO: Préciser Responsive avec max-width*/
@media (min-width: 460px) {
  .field_square_wrapper {
    min-height: 375px;
  }
}
/* Exceptions */
.page-node-type-individu .field_square_wrapper {
  min-height: auto;
}

.field_square {
  color: #fff;
  margin-bottom: 1em;
}
.field_square a {
  color: #fff;
  text-decoration: none;
}
.field_square a:hover {
  text-decoration: underline;
}
/* fixer aussi bloc image */
.page-node-type-actualite .field--name-field-image-couverture img {
  max-width: 100%;
  height: auto;
  /* alignement blocs */
  max-height: 375px;
  /* TODO : autre méthode pour égaliser bloc */
  /* brise sur image moins haute */
}
.page-node-type-carnet-de-recherche .field--name-field-image-couverture img {
  height: auto;
}

.block-infos .block-data {
  background-color: transparent;
}
.page-node-type-carnet-de-recherche .field--name-field-image-couverture {
  margin-bottom: 5em;
}
/* MENU */
header {
  margin-left: 0 !important;
}
/* Accueil */
.navbar-header {
  /*  width: auto; */
  min-height: 0;
  float: none;
  background: #d2000a url(/sites/ethno.aegir8.uqam.ca/files/2018-06/ETHNOCRITIQUE_LOGO_RGB_RENVERSE%CC%81_ROUGE.jpg) no-repeat 50% 0%;
}
.path-frontpage .navbar-header {
  min-height: 332px;/* temp - accueil seulement */
}

/* logo visible dans menu latéral seulement */
.navbar-header .navbar-brand img {
  display: none;
}

/*header - pages internes */
.header-title {
  background-color: #d2000a; /* temp; Image doit s'insérer ici; */
  background-image: url(/sites/ethno.aegir8.uqam.ca/files/2018-06/texture_p_1200.gif) !important;
}


/* ACCUEIL TITRES SECTION */
.block-accueil-actualite,
.block-accueil-livre,
.block-accueil-cahier,
.block-accueil-carnet,
.block-accueil-evenement {
  text-align: center;
}
.path-frontpage h4 {
  padding-top: 20px;
  /* padding-bottom: le séparateur HR sous le titre a 20 px de hauteur */
}

/*ACCUEIL-ACTUALITÉS*/
.accueil-actualite .niche-box-blog .block-top {
	padding-top: 1em;
}
.accueil-actualite .niche-box-blog.boxed {
  padding-top: 0;
  /*0px 25px 70px sur accueil */
  /* 25px 70px sur listes */
}
.accueil-actualite .niche-box-blog.boxed-inverse .img-box {
	margin: 0 -26px;/* full */
}


/* footer (dans le contenu) */
.footer-base {
  min-height: 100px;
  background: #f9f9f9; /* Temp - Fond blanc avec blocs contenu */
  clear: both;
  height: 100px;
}


/* Embed Media */
/* Manque classes */

p img {
  /*  width: 50%; Default */
  float: right;
  clear: both;
  margin-left: 20px;
  border-bottom: 1px solid #e3e0db;
  border-top: 1px solid #e3e0db;
  border-bottom: 4px solid #e3e0db;
  border-top: 4px solid #e3e0db;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.field--name-field-legende-credits {
  font-size: 1rem;
  line-height: 1rem;
  padding-top: 10px;
}

/* Espacer champs du contenus, sauf exceptions */
.full_width_content .field {
  margin-bottom: 2em;
}

.field--name-field-lieu {
  margin-bottom: 2em;
  overflow: hidden;
  max-width: 100%;
  /*  width: 100%;
  height: auto;
  display: block;*/
}

.field--label {
  font-weight: bold;
}

/* Espacer rangées dans les sections */
.row.vertical-row,
.advs-box-side-img > .row {
  margin-bottom: 2em;
}

/* Accueil */
.advs-box-side .livre_auteur,
.path-livres .livre_auteur  {
  font-weight: bold;
}
.advs-box-side .livre_body,
.path-livres .livre_body {}

.field--name-field-bibliographie .field--item {
  margin-bottom: 1em;
}

/* Carousel livre */
.adv-img-classic-box .caption-inner {
  padding: 0 20px;
  overflow: visible;
}
.adv-img-classic-box .caption-inner h2 {
  white-space: normal;
  /*white-space: no-wrap; Ajoute ... */
}

/* LISTE ACTUALITÉS */

/* NOEUD ACTUALITÉ */
/* Combiner date de début et date de fin */
.node-field-date-debut .field--item,
.field--name-field-date-debut,
.field--name-field-date-fin {
  display: inline;
}
/* Default */
/* Sur Actualité, couvre la page entière */
#preloader {
  display: none;
}
/**/
.page-node-type-page .full_width_content {
  z-index: 4;
}

/* AFFICHAGE DES CHAMPS -
   Avec les affichages custom, les champs qui sont dans des régions autres que le contenu
   doivent s'inscrire dans le template, et être cachés ici à l'affichage.
*/
/* AFFICHAGE DES CHAMPS - ACTUALITE / INDIVIDU / PROJET RECHERCHE */
.full_width_content .field--name-field-laboratoire-associe,
.full_width_content .field--name-field-subvention,
.full_width_content .field--name-field-chercheur-associe,
.full_width_content .field--name-field-chercheur-principal,
.full_width_content .field--name-field-image-couverture,
.full_width_content .field--name-field-date-projet,
.full_width_content .field--name-field-lien-s,
.full_width_content .field--name-field-affiliation,
.full_width_content .field--name-field-statut,
.full_width_content .field--name-field-domaines-specialisation,
.full_width_content .field--name-field-type-activite,
.full_width_content .field--name-field-date-debut,
.full_width_content .field--name-field-date-fin,
.full_width_content .field--name-field-type-activite,
.full_width_content .field--name-field-organisation,
.full_width_content .field--name-field-participation,
.full_width_content .field--name-field-fichier,
.full_width_content .field--name-field-portrait,
.full_width_content .field--name-field-prenom,
.full_width_content .field--name-field-nom,
.full_width_content .field--name-field-auteur-e,
.full_width_content .field--name-field-chapitre-referent {
  display: none;
}
/* AFFICHAGE DES CHAMPS - LABO RECHERCHE */
.page-node-type-laboratoire-recherche .full_width_content .field--name-field-membres,
.page-node-type-laboratoire-recherche .full_width_content .field--name-field-direction,
.page-node-type-laboratoire-recherche .full_width_content .field--name-field-lien-s,
.page-node-type-laboratoire-recherche .full_width_content .field--name-field-subvention,
.page-node-type-laboratoire-recherche .full_width_content .field--name-field-portrait {
  display: none;
}

.page-node-type-carnet-de-recherche .col-md-8 .field--name-body,
.page-node-type-carnet-de-recherche .col-md-8 .field--name-field-image-couverture,
.page-node-type-carnet-de-recherche .col-md-8 .field--name-field-responsable-carnet {
  display: none;
}
.page-node-type-article .full_width_content .field--name-field-cahier-referent {
  display: none;
}

/* ARTICLE-CHAPITRE */
/* Bug: le champ credit a pour classe field-auteur-e, comme le champ précédent */

.page-node-type-livre .full_width_content .field--name-body,
.page-node-type-livre .full_width_content .field--name-field-auteur-e,
.page-node-type-livre .full_width_content .field--name-field-auteur-e.field--type-text-long,
.page-node-type-livre .full_width_content .field--name-field-credits,
.page-node-type-livre .full_width_content .field--name-field-annee-publication {
  display: none;
}
.page-node-type-chapitre .full_width_content .field--name-body {
  display: none;
}
.page-node-type-article-chapitre .full_width_content .field--name-body,
.page-node-type-article-chapitre .full_width_content .field--name-field-bibliographie,
.page-node-type-article-chapitre .full_width_content .field--name-field-citation {
  display: none;
}


.page-node-type-carnet-de-recherche .col-md-8 .field--name-field-citation,
.page-node-type-carnet-de-recherche .col-md-8 .field--name-field-notions {
  display: none;
}

.page-node-type-entree-de-carnet .full_width_content .field--name-field-image-couverture,
.page-node-type-entree-de-carnet .full_width_content .field--name-field-auteur-e,
.page-node-type-entree-de-carnet .full_width_content .field--name-field-carnet-referent,
.page-node-type-entree-de-carnet .full_width_content .field--name-field-notions {
  display: none;
}

.page-node-type-cahier .full_width_content .field--name-field-responsable-cahier,
.page-node-type-cahier .full_width_content .field--name-field-numero,
.page-node-type-cahier .full_width_content .field--name-field-date-publication-annee,
.page-node-type-cahier .full_width_content .field--name-field-notions {
  display: none;
}
.page-node-type-cahier .full_width_content .field--name-field-responsable-cahier,
.page-node-type-cahier .full_width_content .field--name-field-numero,
.page-node-type-cahier .full_width_content .field--name-field-date-publication-annee,
.page-node-type-cahier .full_width_content .field--name-field-notions {
  display: none;
}
.page-node-type-article .full_width_content .field--name-field-notions {
  display: none;
}
.page-node-type-laboratoire-recherche .node-view-mode-full .field--name-field-portrait,
.page-node-type-laboratoire-recherche .node-view-mode-full .field--name-field-membres,
.page-node-type-laboratoire-recherche .node-view-mode-full .field--name-field-direction,
.page-node-type-laboratoire-recherche .node-view-mode-full .field--name-field-lien-s,
.page-node-type-laboratoire-recherche .node-view-mode-full .field--name-field-subvention {
  display: none;
}
.page-node-type-individu .full_width_content .field--name-body {
  display: none;
}
.page-node-type-chapitre .section-empty .node-field-livre-referent {
  display: none;
}
/* Choisir la hauteur du header arbitrairement */
.header-title,
.header-animation {
  height: 200px;
}

/*MENU LATÉRAL */
header .navbar-nav > li  {
  display: block;
}
.navbar-nav > li {
  float: none;
}
header .navbar-nav > li > a {
  padding: 0px 0px 10px 15px;
  min-height: auto;
  font-size: 1em;
  text-transform: uppercase;
}
.navbar-nav > li.dropdown:hover > a:after, .nav-tabs > li.active > a:after {
  opacity: 0;
}
/* Color Hack! use text shadow to reverse color on icon */
.hamburger-button i {
  color: #d20000;
  text-shadow: 1px 2px 0px rgba(255, 255, 255, 1);
}

/* noeud livre */
/* ne pas montrer champ vue EVA sur livre.
Doit être affiché pour que le bloc soit actif en haut de page.*/
.view-chapitre-vs-livre {
  display: none;
}
.field--name-field-image-couverture {
  margin-bottom: 1em;
}
.view-id-chapitres-d-un-livre .flexslider .slides > li {
  margin-right: 20px;
}

/* MEDIA EMBED */

.media-view-mode-image-embed-pleine-largeur {
  max-width: 100%;
}

.media-view-mode-image-embed-demi-largeur,
.media-view-mode-audio-embed,
.media-view-mode-video-embed {
  max-width: 50%;
}
.media-view-mode-image-embed-pleine-largeur,
.media-view-mode-image-embed-demi-largeur,
.media-view-mode-audio-embed,
.media-view-mode-video-embed {
  border-bottom: 4px solid #e3e0db;
  border-top: 4px solid #e3e0db;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 2em;
}
.embedded-entity .field--name-field-media-image,
.embedded-entity .field--name-field-legende-credits {
  display: inline-block;
}
.embedded-entity .field--name-field-media-image {
  margin-bottom: 0.5em;
}
.embedded-entity .field--name-field-legende-credits {
  line-height: 1.25;
  font-size: 10px;
  display: inline;
  float: none;
  margin-bottom: 0;
}
.embedded-entity audio, 
.embedded-entity canvas, 
.embedded-entity progress, 
.embedded-entity video {
  /*  display: inline-block;
    vertical-align: baseline; */
    width: 100%;
}
/* Ne pas agrandir sur noeud Video ou Audio */
/* Ne pas agrandir dans Evenement 
.field--name-field-media  */

/* Responsive @media */
/* mobile */
@media (max-width: 460px) {


}
/* col-xs // 0-768 */
@media (max-width: 768px) {


}
/* col-sm // 768-992 */
@media (min-width: 768px) and (max-width: 992px) {

}

/* col-md // 992-1200 */
@media (max-width: 1200px) {

}
/* col-lg 1200+ */
@media (min-width: 1200px) {

}

/* écrans larges */
@media all and (min-width: 1200px) and (max-width: 9999px) {

}

.page-node-type-article-chapitre .field_square_wrapper { 
  min-height: auto; 
}



/* SEARCH */
#edit-search-api-fulltext {
  width: 100%;
}
.minimal-side-menu form input[type=submit] {
  padding: 0;
  font-size: 0;
  color: #fff !important;
  width: 38px;
  height: 25px;
  vertical-align: top;
  background: transparent !important;
}
.minimal-side-menu form input[type=submit]:hover {
    color: #fff !important;
}
/* */
i.icon {
  height: 16px;
  width:  16px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 15px;
  right: 26px;
  z-index: 0;
}

.icon-search {
  background-image: url('../search.svg');
}
 
.mi-menu .sidebar-nav {
  border-left-color: #d2000a !important;
  padding-left: 40px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}

#block-minimal-powered {
  display: none;
}

/* SEARCH RESULTS */
.block-id-views-exposed-filter-blockenvironnement-recherche-general-page-1 .col-md-4 {
  padding-bottom: 2em;
  margin-left: -15px;
}
/* TYPE*/
.path-recherche .views-field-type,
.path-recherche .views-field-bundle {
  font-size: 0.9em;
}
/* titre*/
.path-recherche .views-field-title,
.path-recherche .views-field-name{
  font-size: 1.1225em;
}
.path-recherche .col-lg-9 nav {
 /* margin-top: 2em;
  position: absolute;
  bottom: 0;
  clear: both;
  top: 0;*/
}
.path-auteurs ul.js-pager__items,
.path-recherche ul.js-pager__items,
.path-recherche .col-lg-9 nav {
  clear: both;
}
.view-class-auteurs nav,
.view-class-evenements nav {
    clear: both;
}

.path-auteurs ul.js-pager__items li,
.path-recherche ul.js-pager__items li,
.path-evenements ul.js-pager__items li {
  list-style: none;
  display: inline-block;
}
.path-recherche .views-row {
  padding-bottom: 2em;
}



#edit-actions {
  float: right;
  vertical-align: top;
  position: absolute;
  right: 16px;
  top: 8px;
}
.path-recherche #edit-actions {
  right: 16px;
  top: -3px;
}
.minimal-page-search form input[type=submit]:hover {
  border-color: #d2000a !important;
  color: #d2000a !important;
}
/* réinitialiser la recherche */
.block-id-block-contenta5c5561a-d056-4cf3-a776-8857d378043b {
  /*display: none;*/
}
.block-id-block-contenta5c5561a-d056-4cf3-a776-8857d378043b a.btn {
  font-size: 12px;
}

.accueil-actualite .advs-box .img-box img {
  max-width: 601px;
}
.text-right {
    text-align: left;
}

/* Hypothese : bloc rouge 
.field_square_wrapper {
  background-color: #d2000a;
} */
/* vs Hypothese : bloc gris */
.field_square_wrapper {
  background-color: #777;
}
/* Hypothese */
.top-area img {
    max-width: 67%;
}
/* hypothese : image + petite sauf accueil */ 
.path-frontpage .top-area img {
    max-width: 100%;
}

.flexslider.nav-inner {
  margin-bottom: 45px !important;
}


/* Table des matières*/
.full_width_content .block-id-views-blocktable-matieres-article-livre-block-3 {
  display: none;
}
.mi-menu .sidebar-nav {
    border-left-color: #d2000a !important;
    padding-left: 20px;
    text-transform: none;
    font-weight: normal;
}
.view-id-table-matieres-article-livre.view-display-id-block-2 {
  padding-left: 20px;
}
.view-id-table-matieres-article-livre.view-display-id-block-1 {
  padding-left: 20px;
}
/* Accordion */
.field-group-accordion-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}
.ui-accordion .ui-accordion-header {
    background: #777;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #ffffff/*{fcActive}*/;
    text-decoration: none;
}
/* Improve: Button custom on/off */

.media-view-mode-image-embed-demi-largeur, .media-view-mode-audio-embed, .media-view-mode-video-embed {
    max-width: 50%;
    float: left;
    margin-right: 20px;
}

/* UI */
ul.minimal-primary-tabs li {
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
}
