/*
vert pale   f6f9f8 => f7f9f9 (gris neutre)
vert    56bdbd =>#d2000a (rouge opaque)
*/

/*
GENERAL
*/
body {
/*  max-width: 1200px;*/
  margin: 0 auto;
}

/* COULEURS */
a {
  color: #d2000a;
}
.navbar-nav > li > .dropdown-menu, .tab-box > .panel, .tab-box > .panel-box > .panel, .niche-box-team .content-box hr, hr.e, .datepicker-top-left, .datepicker-top-right {
  color: #d2000a !important;
}
.adv-img-classic-box .caption-inner p.sub-text, .nav-tabs > li:hover > a, .nav-tabs > li:hover > a i, .nav-tabs > li.active > a, .nav-tabs > li.active > a i, .list-group-item:not(.active):hover,
.icon-menu .navbar-collapse ul.nav > li > a:hover i, header .btn-search:hover, .nav.ms-minimal > li.active > a, .icon-background.boxed-inverse:not(.bg-color) .i-background, .icon-box-cell > i,
.advs-box.boxed a.btn, .advs-box.boxed a i, .dropdown.btn-group .active > a, .bootgrid-header .dropdown-item:hover, .navbar-default .navbar-nav > li > a:hover, .white .box-side-icon-small .icon-box i,
.side-menu .active > a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .advs-box-top-icon .icon,
.advs-box-top-icon.boxed .btn, .adv-img-full-content i.main-icon, .advs-box-multiple.boxed div i, .advs-box-top-icon.boxed .circle-button, div.call-action-box a, div.call-action-box a.btn, .text-color,
.boxed .circle-button:hover i, .boxed .circle-button, .tag-row i, .btn-text:hover, .btn-text:hover i, .pagination > .active > a, .pagination > li > a:hover, .datepicker-panel > ul > li:hover,
.adv-img-button-content .caption i, .social-line .social-group i.circle:hover, ul.minimal-primary-tabs li a, ul.minimal-primary-tabs li a.is-active {
  color: #d2000a !important;
}
/* remplacer vert pâle: #56bdbd */
[class*="col-md-"].boxed, .bg-color, .fa-angle-up.scroll-top, .niche-box-post.boxed .block-infos, .call-action-box, .white .img-box.adv-img-half-content .caption, .header-bootstrap {
  color: #d2000a !important;
}
i.circle, i.square, .social-group i.circle, .social-button i.circle, .header-base:not(.bg-cover), .timeline > li:hover > .timeline-badge, ul.side-menu li.active::before, #twosides-menu, .subline-bar, .accordion-list .list-group-item::before, .section-bg-color .table > tbody > tr, .advs-box-multiple div.circle, .advs-box.boxed .advs-box-content, .advs-box.boxed, .box-social-page, .advs-box-top-icon-img .icon {
  color: #d2000a !important;
}


/*.rouge-pale {
  background-color: #d1a7a9 !important;
}*/


/* remplacer vert pale 
[class*="col-md-"].boxed-inverse, .boxed-inverse, .section-bg-color, .section-two-blocks > .row > div:last-child, 
.full-screen-page, .form-control, .pricing-table .list-group-item, .pricing-table, footer.footer-center .content, 
.base-box.boxed-inverse, .advs-box.boxed-inverse, .table-striped > tbody > tr:nth-of-type(odd), 
.section-bg-color .adv-img-down-text h2 a {
  background-color: #f7f9f9;
}

remplacer vert foncé 
[class*="col-md-"].boxed, .bg-color, .fa-angle-up.scroll-top, .niche-box-post.boxed .block-infos, .call-action-box,
 .white .img-box.adv-img-half-content .caption, .header-bootstrap {
  background-color: #d2000a;
 }
*/

.section-bg-color {
  background-color: #f7f9f9;
}
.block-accueil-cahier .section-bg-color {
  background-color: #ffffff;
}
.view-class-accueil-cahier .boxed {
  background-color: #d2000a !important;
}

/* ACCUEIL */
/* fond blanc, contenu limité, au centre */
.block-accueil-carnet,
.block-accueil-evenement {
  margin: 0 auto 5em;
  width: 100%;
  max-width: 1200px;
}
/* fond gris, pleine largeur */
.block-accueil-actualite,
.block-accueil-livre,
.block-accueil-cahier{
  background: #f7f9f9;
  margin: 0;
  max-width: none;
}
/* SECTIONS */
.view-class-actualites,
.view-class-auteurs,
.view-class-cahiers,
.view-class-carnets,
.view-class-laboratoires,
.view-class-livres,
.view-class-projets,
.view-class-evenements {
  
}


.block-accueil-actualite {
  /*  .accueil-actualite, qui fait 50% est centré */
}
/* fond, intérieur de la boite dans Actualité */
.path-frontpage .advs-box.boxed-inverse {
  background: #fff;
}
.accueil-actualite {
  width: 50%;
  margin: 0 auto;
  max-width: 600px; /* 50% of 1200px, which was previous max-width of parent container */
}

.block-accueil-livre {

}
.view-class-accueil-livre {
  max-width: 1200px;
  margin: 0 auto;
}
/**
* CES SECTIONS POSSÈDENT LE BANDEAU LARGE (cacher titre)

ACTUALITÉ
CAHIER
ARTICLE CAHIER
CARNET
ENTREE CARNET

*/
#block-minimal-page-title {
  display: none;
}

#toolbar-item-administration-tray {
  /* z-index: */
}
.field_square_wrapper {
  background-color: #d2000a;
  padding: 20px;
  margin-bottom: 2em;
}
.field_square {
  color: #fff;
  margin-bottom: 1em;
}
.field_square a {
  color: #fff;
  text-decoration: underline;
}
.block-infos .block-data {
  background-color: transparent;
}
.page-node-type-carnet-de-recherche .field--name-field-image-couverture {
  margin-bottom: 5em;
}
/* MENU */
header {
  margin-left: 0 !important;
}
/* Accueil */
.navbar-header {
  /*  width: auto; */
  min-height: 0;
  float: none;
  background: #d2000a url(/sites/ethno.aegir8.uqam.ca/files/2018-06/ETHNOCRITIQUE_LOGO_RGB_RENVERSE%CC%81_ROUGE.jpg) no-repeat 50% 0%;
}
.path-frontpage .navbar-header {
  min-height: 332px;/* temp - accueil seulement */
}

/* logo visible dans menu latéral seulement */
.navbar-header .navbar-brand img {
  display: none;
}

/*header - pages internes */
.header-title {
  background-color: #d2000a; /* temp; Image doit s'insérer ici; */
  background-image: url(/sites/ethno.aegir8.uqam.ca/files/2018-06/texture_p_1200.gif) !important;
}


/* ACCUEIL TITRES SECTION */
.block-accueil-actualite,
.block-accueil-livre,
.block-accueil-cahier,
.block-accueil-carnet,
.block-accueil-evenement {
    text-align: center;
}
/*ACCUEIL-ACTUALITÉS*/
.accueil-actualite .niche-box-blog .block-top {
	padding-top: 1em;
}
.accueil-actualite .niche-box-blog.boxed, .niche-box-blog.boxed-inverse {
    padding: 0px 25px 70px;
}
.accueil-actualite .niche-box-blog.boxed-inverse .img-box {
	margin: 0 -26px;/* full */
}
.view-class-accueil-livre {
  width: 100%;
  margin: 0 auto !important;
}



/* footer (dans le contenu) */
.footer-base {
  min-height: 100px;
  background: #f9f9f9; /* Temp - Fond blanc avec blocs contenu */
  clear: both;
  height: 100px;
}



/* Embed Media */
/* Manque classes */

p img {
  /*  width: 50%; Default */
  float: right;
  clear: both;
  margin-left: 20px;
  border-bottom: 1px solid #e3e0db;
  border-top: 1px solid #e3e0db;
  border-bottom: 4px solid #e3e0db;
  border-top: 4px solid #e3e0db;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.field--name-field-legende-credits {
  font-size: 1rem;
  line-height: 1rem;
  padding-top: 10px;
}

/* Espacer champs du contenus, sauf exceptions */
.full_width_content .field {
  margin-bottom: 2em;
}
.field--label {
  font-weight: bold;
}

/* Espacer rangées dans les sections */
.row.vertical-row,
.advs-box-side-img > .row {
  margin-bottom: 2em;
}

/* Accueil */
.advs-box-side .livre_auteur,
.path-livres .livre_auteur  {
  font-weight: bold;
}
.advs-box-side .livre_body,
.path-livres .livre_body {}


.field--name-field-bibliographie .field--item {
  margin-bottom: 1em;
}

/* SEARCH */
#edit-search-api-fulltext {
  width: 100%;
}

/* Carousel livre */
.adv-img-classic-box .caption-inner {
  padding: 0 20px;
  overflow: visible;
}
.adv-img-classic-box .caption-inner h2 {
  white-space: normal;
  /*white-space: no-wrap; Ajoute ... */
}



/* LISTE ACTUALITÉS */
.path-actualites .section-empty {
	background-color: #d1a7a9;
}

/* Default */
/* Sur Actualité, couvre la page entière */
#preloader {
  display: none;
}
/**/
.page-node-type-page .full_width_content {
  z-index: 4;
}

/* AFFICHAGE DES CHAMPS - ACTUALITE / INDIVIDU / PROJET RECHERCHE */
.full_width_content .field--name-field-laboratoire-associe,
.full_width_content .field--name-field-subvention,
.full_width_content .field--name-field-chercheur-associe,
.full_width_content .field--name-field-chercheur-principal,
.full_width_content .field--name-field-image-couverture,
.full_width_content .field--name-field-date-projet,
.full_width_content .field--name-field-lien-s,
.full_width_content .field--name-field-affiliation,
.full_width_content .field--name-field-statut,
.full_width_content .field--name-field-domaines-specialisation,
.full_width_content .field--name-field-type-activite,
.full_width_content .field--name-field-date-debut,
.full_width_content .field--name-field-date-fin,
.full_width_content .field--name-field-type-activite,
.full_width_content .field--name-field-organisation,
.full_width_content .field--name-field-participation,
.full_width_content .field--name-field-fichier,
.full_width_content .field--name-field-portrait,
.full_width_content .field--name-field-prenom,
.full_width_content .field--name-field-nom,
.full_width_content .field--name-field-auteur-e,
.full_width_content .field--name-field-chapitre-referent {
  display: none;
}
/* AFFICHAGE DES CHAMPS - LABO RECHERCHE */
.page-node-type-laboratoire-recherche .col-md-7 .field--name-field-membres,
.page-node-type-laboratoire-recherche .col-md-7 .field--name-field-direction,
.page-node-type-laboratoire-recherche .col-md-7 .field--name-field-lien-s,
.page-node-type-laboratoire-recherche .col-md-7 .field--name-field-subvention,
.page-node-type-laboratoire-recherche .col-md-7 .field--name-field-portrait {
  display: none;
}

.page-node-type-carnet-de-recherche .col-md-8 .field--name-body,
.page-node-type-carnet-de-recherche .col-md-8 .field--name-field-image-couverture,
.page-node-type-carnet-de-recherche .col-md-8 .field--name-field-responsable-carnet {
  display: none;
}
.page-node-type-article .full_width_content .field--name-field-cahier-referent {
  display: none;
}

/* ARTICLE-CHAPITRE */
/* Bug: le champ credit a pour classe field-auteur-e, comme le champ précédent */

.page-node-type-livre .full_width_content .field--name-body,
.page-node-type-livre .full_width_content .field--name-field-auteur-e,
.page-node-type-livre .full_width_content .field--name-field-auteur-e.field--type-text-long,
.page-node-type-livre .full_width_content .field--name-field-credits,
.page-node-type-livre .full_width_content .field--name-field-annee-publication {
  display: none;
}
.page-node-type-chapitre .full_width_content .field--name-body {
  display: none;
}
.page-node-type-article-chapitre .full_width_content .field--name-body,
.page-node-type-article-chapitre .full_width_content .field--name-field-bibliographie,
.page-node-type-article-chapitre .full_width_content .field--name-field-citation {
  display: none;
}


.page-node-type-carnet-de-recherche .col-md-8 .field--name-field-citation {
  display: none;
}

.page-node-type-entree-de-carnet .full_width_content .field--name-field-image-couverture,
.page-node-type-entree-de-carnet .full_width_content .field--name-field-auteur-e,
.page-node-type-entree-de-carnet .full_width_content .field--name-field-carnet-referent {
  display: none;
}

.page-node-type-cahier .full_width_content .field--name-field-responsable-cahier,
.page-node-type-cahier .full_width_content .field--name-field-credits,
.page-node-type-cahier .full_width_content .field--name-field-numero,
.page-node-type-cahier .full_width_content .field--name-field-date-publication-annee {
  display: none;
}

.container.content, {  padding-top: 60px;
padding-bottom: 60px;
/* was 90px 90px */
}
.section-empty > .content, .section-bg-image > .content, .section-bg-video > .content, .section-bg-animation > .content, .section-slider > .content, .section-bg-color > .content {
  padding-top: 0px;
padding-bottom: 0px;
/* was 90px 90px */
}

/**/
.header-title,
.header-animation {
  height: 200px; /* was 350px*/
}

/*MENU LATÉRAL */
header .navbar-nav > li  {
  display: block;
}
.navbar-nav > li {
  float: none;
}
header .navbar-nav > li > a {
  padding: 0px 0px 10px 15px;
  min-height: auto;
  font-size: 1em;
  text-transform: uppercase;
}
.navbar-nav > li.dropdown:hover > a:after, .nav-tabs > li.active > a:after {
  opacity: 0;
}
