/*
vert pale   f6f9f8 => f7f9f9 (gris neutre)
vert    56bdbd =>#d2000a (rouge opaque)

path-evenements = path-archives
path-cours = path-seminaires

*/
/*
GENERAL
*/
html {
  min-height:100%;
  height: 100%;
  background-color: #f7f9f9;
}
body {
  margin: 0 auto;
  min-height:100%;
  height: 100%;
  background-color: #f7f9f9;
}
/* Ne pas assumer de marges verticales pour les colonnes 
Visible sur Accueil:Livres */
@media screen and (max-width: 992px) {
  [class*="col-md"] {
    padding-top: 0;
    padding-bottom: 0;
  }
}
/* Classes générales */
.text-right {
  text-align: left;
}
/* Utiliser format H4 au lieu de H2 */
.view-eva-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

/**
* COULEURS 
*/
body, .adv-img p, .caption-bottom p, .adv-circle .caption p, .advs-box p {
  color: #000;
}
a {
  color: #d2000a;
}
.navbar-nav > li > .dropdown-menu, .tab-box > .panel, .tab-box > .panel-box > .panel, .niche-box-team .content-box hr, hr.e, .datepicker-top-left, .datepicker-top-right {
  color: #d2000a !important;
}
.adv-img-classic-box .caption-inner p.sub-text, .nav-tabs > li:hover > a, .nav-tabs > li:hover > a i, .nav-tabs > li.active > a, .nav-tabs > li.active > a i, .list-group-item:not(.active):hover,
.icon-menu .navbar-collapse ul.nav > li > a:hover i, header .btn-search:hover, .nav.ms-minimal > li.active > a, .icon-background.boxed-inverse:not(.bg-color) .i-background, .icon-box-cell > i,
.advs-box.boxed a.btn, .advs-box.boxed a i, .dropdown.btn-group .active > a, .bootgrid-header .dropdown-item:hover, .navbar-default .navbar-nav > li > a:hover, .white .box-side-icon-small .icon-box i,
.side-menu .active > a, .sidebar-nav a:hover, .sidebar-nav a:focus, .sidebar-nav a:active, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .advs-box-top-icon .icon,
.advs-box-top-icon.boxed .btn, .adv-img-full-content i.main-icon, .advs-box-multiple.boxed div i, .advs-box-top-icon.boxed .circle-button, div.call-action-box a, div.call-action-box a.btn, .text-color,
.boxed .circle-button:hover i, .boxed .circle-button, .tag-row i, .btn-text:hover, .btn-text:hover i, .pagination > .active > a, .pagination > li > a:hover, .datepicker-panel > ul > li:hover,
.adv-img-button-content .caption i, .social-line .social-group i.circle:hover, ul.minimal-primary-tabs li a, ul.minimal-primary-tabs li a.is-active {
  color: #d2000a !important;
}
/* remplacer vert pâle: #56bdbd */
[class*="col-md-"].boxed, .bg-color, .fa-angle-up.scroll-top, .niche-box-post.boxed .block-infos, .call-action-box, .white .img-box.adv-img-half-content .caption, .header-bootstrap {
  color: #d2000a !important;
}
i.circle, i.square, .social-group i.circle, .social-button i.circle, .header-base:not(.bg-cover), .timeline > li:hover > .timeline-badge, ul.side-menu li.active::before, #twosides-menu, .subline-bar, .accordion-list .list-group-item::before, .section-bg-color .table > tbody > tr, .advs-box-multiple div.circle, .advs-box.boxed .advs-box-content, .advs-box.boxed, .box-social-page, .advs-box-top-icon-img .icon {
  background-color: #d2000a !important;
}
.btn:hover, div.adv-img-side-content .btn:hover, div.adv-img-side-content .btn:hover i, .extra-content, .load-more-maso:hover, .nav.inner.ms-rounded li a:hover, .nav.inner.ms-rounded li.active a, .datepicker-panel > ul > li.picked, .datepicker-panel > ul > li.picked:hover {
  border-color: #d2000a !important;
  color: #d2000a !important;
}

/* boutons Taxos : noir sur blanc / Cahier  */
.taxonomie-fond-fonce .field--label {
  color: #fff;
}
/* Inversé : blanc sur gris / article, article chapitre, entree carnet, carnet recherche */
.taxonomie-fond-blanc .field--label {
  /*color: #676a6b;*/
  color: #000;
}

/* commun */
.taxonomie-fond-fonce .field--item a,
.taxonomie-fond-blanc .field--item a {
  /*padding: 5px 3px;*/
  /*margin: 3px 2px;*/
/**/
    display: inline-block;
    padding: 3px 6px;
    margin: 6px 0px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}
.taxonomie-fond-fonce .field--item a {
  border: 1px solid #fff !important; 
  color: #fff;
}
.taxonomie-fond-blanc .field--item a {
  border: 1px solid #000 !important;
  color: #000;
}

/*.rouge-pale {
  background-color: #d1a7a9 !important;
}*/


/* remplacer vert pale
[class*="col-md-"].boxed-inverse, .boxed-inverse, .section-bg-color, .section-two-blocks > .row > div:last-child,
.full-screen-page, .form-control, .pricing-table .list-group-item, .pricing-table, footer.footer-center .content,
.base-box.boxed-inverse, .advs-box.boxed-inverse, .table-striped > tbody > tr:nth-of-type(odd),
.section-bg-color .adv-img-down-text h2 a {
  background-color: #f7f9f9;
}

remplacer vert foncé
[class*="col-md-"].boxed, .bg-color, .fa-angle-up.scroll-top, .niche-box-post.boxed .block-infos, .call-action-box,
 .white .img-box.adv-img-half-content .caption, .header-bootstrap {
  background-color: #d2000a;
 }
*/

/**
* ACCUEIL */

/* Présentation */
.quote-author a {
  color: #000;
}
/* fond gris, pleine largeur */
.block-accueil-actualite,
.block-accueil-evenement,
.block-accueil-livre {
  background: #f7f9f9;
  margin: 0;
  max-width: none;
}

/* fond blanc, contenu limité, au centre */
/* Bloc présentation (par défaut) */
.block-accueil-carnet,
.block-accueil-cahier {
  /*background: #f7f9f9;*/
  background: #fff;
  margin: 0;
  max-width: none;
}
.block-accueil-actualite,
.block-accueil-evenement,
.block-accueil-livre,
.block-accueil-carnet,
.block-accueil-cahier {
  padding-top: 90px;
  padding-bottom: 90px;
}
/* Compenser les marges sous les éléments de la grille */
.block-accueil-evenement,
.block-accueil-cahier,
.block-accueil-livre {
  padding-bottom: 70px;
}
.block-id-block-content7f23797e-5957-44d4-9931-3781b687d960  {
  padding-top: 90px;
  padding-bottom: 0px;
}
.block-id-block-content7f23797e-5957-44d4-9931-3781b687d960 a {
  color: #d2000a;
}

.block-accueil-actualite h4,
.block-accueil-evenement h4,
.block-accueil-livre h4,
.block-accueil-carnet h4,
.block-accueil-cahier h4 {
  padding-bottom: 55px;
}
/* ACCUEIL TITRES SECTION */
.block-accueil-actualite,
.block-accueil-livre,
.block-accueil-cahier,
.block-accueil-carnet,
.block-accueil-evenement {
  text-align: center;
  clear: both;
}
.block-accueil-cahier .boxed {
  text-align: left;
}

.path-frontpage h4 {
  padding-top: 0px;
  /* padding-bottom: le séparateur HR sous le titre a 20 px de hauteur */
}
/* annuler les espaceurs, les marges sont gérées au niveau des blocs */
.path-frontpage hr.space.s,
.path-frontpage hr.space.m {
    height: 0px;
}
/* Contenant dans le bloc actualité, présentation du site */
.accueil-actualite,
.block-id-block-content7f23797e-5957-44d4-9931-3781b687d960 .field--name-body {
  width: 50%;
  margin: 0 auto;
  max-width: 600px; /* 50% of 1200px, which was previous max-width of parent container */
}
.block-id-block-content7f23797e-5957-44d4-9931-3781b687d960 .field--name-body {
  padding: 0em;
  margin: 0em auto 0;
}
.block-id-block-content7f23797e-5957-44d4-9931-3781b687d960 h4,
.block-id-block-content7f23797e-5957-44d4-9931-3781b687d960 hr {
  display: none;
}

.section-bg-color {
  background-color: #f7f9f9;
}
/* Contenu principal, background à l'exclusion du header et footer */
.section-empty {
  background-color: #f7f9f9;
  padding-top: 3em;
  padding-bottom: 3em;
}
/*Éviter doubles marges*/
.section-empty .section-empty {
  padding-top: 0;
  padding-bottom: 0;
}
.container.content {
  padding-top: 3em;
  padding-bottom: 3em;
}
.view-class-accueil-livre.container.content {
  padding-top: 0;
  padding-bottom: 3em;
}
.section-empty > .content,
.section-bg-image > .content,
.section-bg-video > .content,
.section-bg-animation > .content,
.section-slider > .content,
.section-bg-color > .content {
  padding-top: 0px;
  padding-bottom: 0px;
/* was 90px 90px */
}

.section-empty .boxed-inverse,
.section-empty .advs-box.boxed-inverse {
  background-color: #ffffff;
}

.block-accueil-carnet .view-class-accueil-carnet,
.block-accueil-evenement .view-id-accueil-evenement {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background: #f7f9f9;
}
.view-id-accueil-evenement {
  padding-left: 0;
  padding-right: 0;
}
.block-accueil-livre .view-class-accueil-livre {
  width: 100%;
  max-width: 1200px;
}

.view-id-accueil-evenement .grid-item {
  margin-bottom: 2em;
}

/* SECTIONS */
.view-class-actualites,
.view-class-auteurs,
.view-class-cahiers,
.view-class-carnets,
.view-class-laboratoires,
.view-class-livres,
.view-class-projets,
.view-class-evenements,
.view-class-cours {

}

/* SECTION EVENEMENTS */
.view-class-evenements .sub-text,
.view-class-cours .sub-text,
.adv-img-classic-box .caption-inner p.sub-text {
  font-weight: 900;
  color: #d2000a;
}
.view-class-evenements .img-box h2,
.view-class-cours .img-box h2 {
  margin-bottom: 10px;
}
.view-class-evenements .grid-item .img-box:not([class*="row-"]), 
.view-class-evenements .grid-item .box, .grid-item .base-box,
.view-class-cours .grid-item .img-box:not([class*="row-"]), 
.view-class-cours .grid-item .box, .grid-item .base-box {
  /* height: 100%;*/
  min-height: 227px;
}
.path-archives .grid-item > div,
.path-seminaires .grid-item > div {
  padding-bottom: 2em;
}
.block-infos .bd-month {
  font-size: 18px;
}

/* SECTION AUTEURS  */
.view-class-auteurs .liste-auteurs-ligne {
  margin-bottom: 2em;
  /*col md 4 */
  width: 33%;
  float: none;
  display: inline-block;
}

/* noeud auteur */
.page-node-type-individu {}
/*.page-node-type-individu .col-md-4 {
  margin-left: -15px;
  margin-bottom: 15px;
}*/
.page-node-type-individu .views-field-title,
.page-node-type-individu .views-field-bibcite-year {
  font-weight: normal;
  font-size: 1.1525em;
}

.page-node-type-individu .node-field-portrait img {
    width: 100%;
    height: auto;
}
.full_width_content .view-eva {
  padding-bottom: 2em;
}

/* SECTION LABORATOIRES  */
.view-class-laboratoires .sub-text {
  font-weight: bold;
  margin-bottom: 10px;
}
.view-class-laboratoires .img-box {
  padding-bottom: 2em;
}

.view-class-laboratoires .img-box img {
  max-width: 100% !important;
  margin-left: 0 !important;
}

/* SECTION CAHIERS */
.view-class-cahiers h4 {
  text-transform: none;
  font-weight: 700;
  color: #272b2b;
  font-size: 30px;
  line-height: 21px;
  padding-bottom: 1em;
}
.liste_cahier_date_no, 
.liste_cahier_auteur {
  font-weight: bold;
}
.liste_cahier_auteur {
  color: #d2000a;
}


/* PAGE CAHIER */
.page-node-type-cahier .section-bg-color .col-md-4 {
  padding-left: 0;
}
.page-node-type-cahier .section-bg-color {
  margin-bottom: 3em;
}

.page-node-type-cahier .advs-box-top-icon-img.boxed-inverse .advs-box-content {
  padding: 30px 40px !important;
  min-height: 225px;
}
.page-node-type-cahier .section-bg-color .advs-box.boxed-inverse,
.page-node-type-cahier .section-bg-color .advs-box.boxed-inverse:hover {
  transition: none !important;
  transform: translateY(-0px) !important;
  box-shadow: none !important;
  min-height: 375px;
}
/* Articles sur cahier */
.view-article-vs-cahier .advs-box .btn:after {
  display: none;
}
.view-article-vs-cahier .views-row {
  margin-bottom: 2em;
}

/* noeud chapitre */

/* noeud article de chapitre*/
.page-node-type-article-chapitre .col-md-9 .node-field-bibliographie,
.page-node-type-article-chapitre .col-md-9 .node-field-citation {
  color: #676a6b;
}
.page-node-type-chapitre .field--name-field-biblio {
  clear: both;
}


/* Liste Cahier */
.liste_cahier_date_no,
.liste_cahier_auteur {
  color: #000;
}
/* Noeud Cahier */
/* aligner titre EVA */
.page-node-type-cahier .view-eva h4 {
  text-align: center;
  padding-bottom: 2em;
}

/* Modèle pour label */
/*Champ field--name-field-responsable-cahier*/
.label-dans-carre,
.advs-box h3 .field--label {
  font-size: 14px;
}

/* Modèle pour titre en vedette */
/* .advs-box h3 .field__items = cahier/auteur */ 
.titre-vedette,
.advs-box h3 .field__items,
.page-node-type-actualite .field--name-field-date-debut .field--item,
.page-node-type-carnet-de-recherche .field--name-field-responsable-carnet .field--item, 
.page-node-type-entree-de-carnet .field--name-field-auteur-e .field--item,
.page-node-type-entree-de-carnet .date_created,
.page-node-type-livre .field--name-field-auteur-e .field--item,
.page-node-type-article-chapitre .field--name-field-auteur-e .field--item,
.page-node-type-evenement .field--name-field-date-debut .field--item,
.page-node-type-evenement .field--name-field-date-fin .field--item,
.page-node-type-laboratoire-recherche .field--name-field-direction  .field--item,
.page-node-type-projet-recherche .field--name-field-laboratoire-associe  .field--item {
  font-size: 20px;
  font-weight: normal;
}


/* EVA - aligner résumé à gauche */
.advs-box .advs-box-content p {
  text-align: left;
}

/* LISTE AUTEURS */
.img-box.circle img {
  max-width: 100%;
  height: auto;
}
.img-box.circle:before {
  transform: scale(1);
}
.img-box {
  overflow: visible;
}


/* accueil */
.view-class-accueil-cahier .boxed {
  background-color: #d2000a !important;
  padding: 50px;
/* remplace class*="col-md-"].boxed et class*="col-sm-"].boxed */
}
.block-accueil-actualite {
  /*  .accueil-actualite, qui fait 50% est centré */
}
/* fond, intérieur de la boite dans Actualité */
.path-frontpage .advs-box.boxed-inverse {
  background: #fff;
  padding: 0 25px 40px;
}
/*.niche-box-blog.boxed, .niche-box-blog.boxed-inverse*/


.quote-author {
  margin-bottom: 2em;
}
.path-frontpage .quote-author {
  margin-bottom: 0em;
}
.quote-author a {
  text-transform: uppercase;
}
.block-accueil-livre {}
.view-class-accueil-livre {
  /*max-width: 1200px;*/
  /*margin: 0 auto;*/
  /*width: 100%;*/
  margin: 0 auto !important;
}
.view-class-accueil-livre {
  padding-bottom: 2em;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*
.view-class-accueil-livre .grid-box.row {
  margin: auto -15px;
}*/

/* tablette et +*/
.view-class-accueil-livre.grid-box > .grid-item:first-child {
    padding: 0 15px 0 0;
}
.view-class-accueil-livre.grid-box > .grid-item:last-child {
    padding: 0 0 0 15px;
}

/* Zoom sur livre, enlever responsive */
.advs-box .img-box img {
  max-width: 100%;
  /*width: auto;*/
  width: 100%;
}
.accueil-actualite .advs-box .img-box img {
  max-width: 100%;
}


.path-frontpage #flexslider-1 {
	border: none;
}
/* Extraits du cahier sur Accueil, enlever responsive */
/* Entrée de carnet sur Carnet */
.gallery .img-box, 
.gallery .img-box img {
  /*width: auto;
  max-width: none;*/
}

/* centrer le logo dans l'espace disponible sur les listes laboratoire */
.path-laboratoires .col-md-4 {
  text-align: center;  
}

/* Contenant dans le bloc cahier */
.block-accueil-cahier .section-bg-color {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.block-accueil-cahier .img-box.thumbnail {
  padding: 0;
}
.view-id-accueil-cahier .grid-item {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.view-class-accueil-cahier .proporzional-row .col-xs-12,
.view-class-accueil-cahier .proporzional-row .col-sm-8 {
  padding-right: 0;
  margin-left: -30px;
  margin-right: 15px;
}
.view-class-accueil-cahier .proporzional-row .col-SM-4.boxed,
.view-class-accueil-cahier .proporzional-row .col-xs-12.boxed {
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.proporzional-row {
  max-width: 1200px;
  margin: 0 auto
}
.path-frontpage .proporzional-row {
  margin-bottom: 2em;
}
.flexslider {
  margin-bottom: 0px !important;
}
/* Mouseovers sur l'accueil */
.adv-img-classic-box .caption-inner .big-text {
  opacity: 0;
}
.adv-img-classic-box:hover .caption-inner .big-text {
  opacity: 1;
}

/* Entree de carnet accueil */

/* Événements accueil */



/* Liste Carnets */

/* Noeud Carnet */
/* Ajuster hauteur image et infos avec (div.anima) */
.view-id-liste-carnets .col-md-8,
.view-id-liste-carnets .col-sm-8 {
  padding: 48px 50px !important;
}

/* Noeud Entrée Carnet */

.adv-img-classic-box .caption-inner h2 {
  font-size: 16px;
  line-height: 16px;
}
.page-node-type-carnet-de-recherche .node-field-body {
  margin-bottom: 3em;
}


/* En cas d'image brisée ou manquante, conserver le format grille */
.view-entree-de-carnet-vs-carnet .grid-item .img-box:not([class*="row-"]), 
.view-entree-de-carnet-vs-carnet .grid-item .box, 
.view-entree-de-carnet-vs-carnet .grid-item .grid-item .base-box {
  min-height: 245px;
  overflow: hidden;
}

.view-entree-de-carnet-vs-carnet .gallery .grid-item .img-box,
.view-entree-de-carnet-vs-carnet .gallery .grid-item img {
  width: 100%;
}

/** Noeuds Laboratoire */
/* Marge autour des logos */
.page-node-type-laboratoire-recherche .field--name-field-portrait {
  padding: 0px;
}
.view-projet-recherche-vs-laboratoire-recherche .views-row {
  /*width: 33%;
  padding-right: 10px;*/
  /* todo cols col-md-4 */
}
.view-projet-recherche-vs-laboratoire-recherche h4 {
  padding-top: 3em;
}

/* pas de classe sur le titre du EVA */
.view-projet-recherche-vs-laboratoire-recherche {
  font-weight: bold;
}
.view-projet-recherche-vs-laboratoire-recherche .views-row {
  font-weight: normal;
  padding-top: 3em;
}

/**
* CES SECTIONS POSSÈDENT LE BANDEAU LARGE (cacher titre)

ACTUALITÉ
CAHIER
ARTICLE CAHIER
CARNET
ENTREE CARNET

*/
#block-minimal-page-title {
  display: none;
}

#toolbar-item-administration-tray {
  /* z-index: */
}
.field_square_wrapper {
  background-color: #d2000a;
  padding: 20px;
  margin-bottom: 2em !important;
}

/* Fixer hauteur du bloc Infos et de l'image  */
/* TODO: Préciser Responsive avec max-width*/
@media (min-width: 460px) {
  .field_square_wrapper {
    min-height: 375px;
  }
}
/* Exceptions */
.page-node-type-individu .field_square_wrapper {
  min-height: auto;
}

.field_square {
  color: #fff;
  margin-bottom: 1em;
}
.field_square a {
  color: #fff;
  text-decoration: none;
}
.field_square a:hover {
  text-decoration: underline;
}
/* fixer aussi bloc image */
.page-node-type-actualite .field--name-field-image-couverture img {
  /*max-width: 100%;
  height: auto;*/
  /* alignement blocs */
  /*max-height: 375px;*/
  /* TODO : autre méthode pour égaliser bloc */
  /* brise sur image moins haute */
}

.page-node-type-carnet-de-recherche .field--name-field-image-couverture img {
  height: auto;
}

.block-infos .block-data {
  background-color: transparent;
}
.page-node-type-carnet-de-recherche .field--name-field-image-couverture {
  margin-bottom: 3em;
}
/* MENU */
header {
  margin-left: 0 !important;
}
/* Accueil */
.navbar-header {
  /*  width: auto; */
  min-height: 0;
  float: none;
  background: #db2022 url(/sites/ethno.aegir8.uqam.ca/files/2018-06/ETHNOCRITIQUE_LOGO_RGB_RENVERSE%CC%81_ROUGE.jpg) no-repeat 50% 0%;
}
.path-frontpage .navbar-header {
  min-height: 332px;/* temp - accueil seulement */
}

.path-frontpage .navbar-nav {
  padding-top: 0px;
}
.navbar-nav {
  padding-left: 1em;
  padding-top: 1em;
}
.minimal-side-menu #edit-search-api-fulltext {
  width: 73%;
  margin-left: 2em;
}

/* logo visible dans menu latéral seulement */
.navbar-header .navbar-brand img {
  display: none;
}

/*header - pages internes */
.header-title {
  background-color: #d2000a; /* temp; Image doit s'insérer ici; */
  background-image: url(/sites/ethno.aegir8.uqam.ca/files/2018-06/texture_p_1200.gif) !important;
}
.header-title p, .header-video p, .header-base p, .header-slider p {
    opacity: 1 !important;
    color: #fff !important;
}
.title-base p {
    font-size: 18px;
}


/*ACCUEIL-ACTUALITÉS*/
.accueil-actualite .niche-box-blog .block-top {
	padding-top: 1em;
}
.accueil-actualite .niche-box-blog.boxed {
  padding-top: 0;
  /*0px 25px 70px sur accueil */
  /* 25px 70px sur listes */
}
.accueil-actualite .niche-box-blog.boxed-inverse .img-box {
	margin: 0 -26px;/* full */
}
.niche-box-blog .block-infos {
  padding-top: 20px;
}


/* footer (dans le contenu) */
.footer-base {
  min-height: 100px;
  background: #f7f9f9;
  clear: both;
  height: 100px;
}
footer .content {
  border-top: none !important;
}
/* Embed Media */
/* Manque classes */

p img {
  /*  width: 50%; Default */
  float: right;
  clear: both;
  margin-left: 20px;
  border-bottom: 1px solid #e3e0db;
  border-top: 1px solid #e3e0db;
  border-bottom: 4px solid #e3e0db;
  border-top: 4px solid #e3e0db;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.field--name-field-legende-credits {
  font-size: 1rem;
  line-height: 1rem;
  padding-top: 10px;
}

/* Espacer champs du contenus, sauf exceptions */
.full_width_content .field {
  margin-bottom: 2em;
}

.field--name-field-lieu {
  margin-bottom: 2em;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
   /*  height: auto;
  display: block;*/
}
.field--name-field-lieu iframe {
    max-width: 100%;
}
/* labels : section contenu seulement, sections infos non modifiés */
.field--label {
  font-weight: bold;
}
/*section-empty = .chapitre .field--name-field-livre-referent .field--label */
.full_width_content .field--label,
.section-empty .field--label {
  text-transform: uppercase;
}

.view-article-vs-chapitre {
	text-transform: uppercase;
	text-align: center;
}
.view-article-vs-chapitre .views-row {
	text-transform: initial;
}


/* Wishlist: icône flèche sur les labels et marge à gauche */

/* Espacer rangées dans les sections */
.row.vertical-row,
.advs-box-side-img > .row {
  margin-bottom: 2em;
}

/* Accueil */
.advs-box-side .livre_auteur,
.path-livres .livre_auteur  {
  font-weight: bold;
}
.advs-box-side .livre_body,
.path-livres .livre_body {}

.field--name-field-bibliographie .field--item {
  margin-bottom: 1em;
}

/* Carousel livre */
.adv-img-classic-box .caption-inner {
  padding: 0 20px;
  overflow: visible;
}
.adv-img-classic-box .caption-inner h2 {
  white-space: normal;
  /*white-space: no-wrap; Ajoute ... */
}
/* Gris foncé au repos, gris pâle au survol */
.page-node-type-livre .adv-img-classic-box .caption {
  background: rgba(0, 0, 0, 0.8) !important;
}
.page-node-type-livre .adv-img-classic-box .caption:hover {
  background: rgba(0, 0, 0, 0.5) !important;
}

/* LISTE ACTUALITÉS */

/* NOEUD ACTUALITÉ */
/* Combiner date de début et date de fin */
.node-field-date-debut .field--item,
.field--name-field-date-debut,
.field--name-field-date-fin {
  display: inline;
}
/* Default */
/* Sur Actualité, couvre la page entière */
#preloader {
  display: none;
}
/**/
.page-node-type-page .full_width_content {
  z-index: 4;
}


/* AFFICHAGE DES CHAMPS -
   Avec les affichages custom, les champs qui sont dans des régions autres que le contenu
   doivent s'inscrire dans le template, et être cachés ici à l'affichage.
*/
/* AFFICHAGE DES CHAMPS - ACTUALITE / INDIVIDU / PROJET RECHERCHE */
.full_width_content .field--name-field-laboratoire-associe,
.full_width_content .field--name-field-subvention,
.full_width_content .field--name-field-chercheur-associe,
.full_width_content .field--name-field-chercheur-principal,
.full_width_content .field--name-field-image-couverture,
.full_width_content .field--name-field-date-projet,
.full_width_content .field--name-field-lien-s,
.full_width_content .field--name-field-affiliation,
.full_width_content .field--name-field-statut,
.full_width_content .field--name-field-domaines-specialisation,
.full_width_content .field--name-field-type-activite,
.full_width_content .field--name-field-date-debut,
.full_width_content .field--name-field-date-fin,
.full_width_content .field--name-field-type-activite,
.full_width_content .field--name-field-organisation,
.full_width_content .field--name-field-participation,
.full_width_content .field--name-field-fichier,
.full_width_content .field--name-field-portrait,
.full_width_content .field--name-field-prenom,
.full_width_content .field--name-field-nom,
.full_width_content .field--name-field-auteur-e,
.full_width_content .field--name-field-chapitre-referent,
.full_width_content .field--name-field-aire-geographique,
.full_width_content .field--name-field-periode-historique {
  display: none;
}
/* AFFICHAGE DES CHAMPS - LABO RECHERCHE */
.page-node-type-laboratoire-recherche .full_width_content .field--name-field-membres,
.page-node-type-laboratoire-recherche .full_width_content .field--name-field-direction,
.page-node-type-laboratoire-recherche .full_width_content .field--name-field-lien-s,
.page-node-type-laboratoire-recherche .full_width_content .field--name-field-subvention,
.page-node-type-laboratoire-recherche .full_width_content .field--name-field-portrait {
  display: none;
}

.col-md-8 .field--name-field-aire-geographique,
.col-md-8 .field--name-field-periode-historique {
  display: none;
}

.page-node-type-carnet-de-recherche .col-md-8 .field--name-body,
.page-node-type-carnet-de-recherche .col-md-8 .field--name-field-image-couverture,
.page-node-type-carnet-de-recherche .col-md-8 .field--name-field-responsable-carnet {
  display: none;
}
.page-node-type-article .full_width_content .field--name-field-cahier-referent {
  display: none;
}

/* ARTICLE-CHAPITRE */
/* Bug: le champ credit a pour classe field-auteur-e, comme le champ précédent */

.page-node-type-livre .full_width_content .field--name-body,
.page-node-type-livre .full_width_content .field--name-field-auteur-e,
.page-node-type-livre .full_width_content .field--name-field-auteur-e.field--type-text-long,
.page-node-type-livre .full_width_content .field--name-field-credits,
.page-node-type-livre .full_width_content .field--name-field-annee-publication {
  display: none;
}
.page-node-type-chapitre .full_width_content .field--name-body {
  display: none;
}
.page-node-type-article-chapitre .full_width_content .field--name-body,
.page-node-type-article-chapitre .full_width_content .field--name-field-bibliographie,
.page-node-type-article-chapitre .full_width_content .field--name-field-notions {
  display: none;
}
.page-node-type-carnet-de-recherche .col-md-8 .field--name-field-notions,
.page-node-type-carnet-de-recherche .col-md-8 .field--name-field-citation,
.page-node-type-carnet-de-recherche .col-md-8 .field-group-accordion-wrapper {
  display: none;
}

.page-node-type-entree-de-carnet .full_width_content .field--name-field-image-couverture,
.page-node-type-entree-de-carnet .full_width_content .field--name-field-auteur-e,
.page-node-type-entree-de-carnet .full_width_content .field--name-field-carnet-referent,
.page-node-type-entree-de-carnet .full_width_content .field--name-field-notions {
  display: none;
}

.page-node-type-cahier .full_width_content .field--name-field-responsable-cahier,
.page-node-type-cahier .full_width_content .field--name-field-numero,
.page-node-type-cahier .full_width_content .field--name-field-date-publication-annee,
.page-node-type-cahier .full_width_content .field--name-field-notions {
  display: none;
}
.page-node-type-cahier .full_width_content .field--name-field-responsable-cahier,
.page-node-type-cahier .full_width_content .field--name-field-numero,
.page-node-type-cahier .full_width_content .field--name-field-date-publication-annee,
.page-node-type-cahier .full_width_content .field--name-field-notions {
  display: none;
}
.page-node-type-article .full_width_content .field--name-field-notions {
  display: none;
}
.page-node-type-laboratoire-recherche .node-view-mode-full .field--name-field-portrait,
.page-node-type-laboratoire-recherche .node-view-mode-full .field--name-field-membres,
.page-node-type-laboratoire-recherche .node-view-mode-full .field--name-field-direction,
.page-node-type-laboratoire-recherche .node-view-mode-full .field--name-field-lien-s,
.page-node-type-laboratoire-recherche .node-view-mode-full .field--name-field-subvention {
  display: none;
}
.page-node-type-laboratoire-recherche .full_width_content .field--name-body,
.page-node-type-individu .full_width_content .field--name-body {
  display: none;
}
.page-node-type-chapitre .full_width_content .field--name-field-livre-referent {
  display: none;
}
/* Projet de recherche */
.page-node-type-projet-recherche .full_width_content .field--name-field-date-projet-fin {
  display: none;
}

/*.view-id-table-matieres-article-livre.view-display-id-block-3 {
    display: block;
}*/

.block-id-views-blocktable-matieres-article-livre-block-3 {
  display: none;
}
/* Choisir la hauteur du header arbitrairement */
.header-title,
.header-animation {
  height: 200px;
}

/*MENU LATÉRAL */
header .navbar-nav > li  {
  display: block;
}
.navbar-nav > li {
  float: none;
}

.navbar-nav {

}
header .navbar-nav > li > a {
  padding: 7px 0px 7px 15px;
  min-height: 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.42857143;
}
/* Safari bug */
.navbar-nav > li.dropdown > a:after, 
.nav-tabs > li > a:after {
  display: none;
}
/*header .navbar-nav > li > a {
  max-height: 30px;
}*/


.navbar-nav > li.dropdown:hover > a:after, .nav-tabs > li.active > a:after {
  opacity: 0;
}
.hamburger-button i {
  color: #000;
  padding-left: 0;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
.side-menu-fixed .top-area {
    padding: 15px 0 0;
}

/* Resserrer pour petits écrans */
.minimal-side-menu form {
    padding: 0px 0px 15px 10px;
    margin-top: 0;
    margin-bottom: 0;
}


/* Noeud livre */
/* ne pas montrer champ vue EVA sur livre.
Doit être affiché pour que le bloc soit actif en haut de page.*/
.view-chapitre-vs-livre {
  display: none;
}
.field--name-field-image-couverture {
  margin-bottom: 1em;
}
.page-node-type-cahier .field--name-field-image-couverture {
  margin-bottom: 0em;
}

.view-id-chapitres-d-un-livre .flexslider .slides > li {
  padding-right: 12px !important;
}
.view-id-chapitres-d-un-livre .big-text {
  padding-top: 2em;
}
.block-id-views-blockchapitres-d-un-livre-block-1 {
  margin-bottom: 2em;
}




/* MEDIA EMBED */
.media-view-mode-image-embed-pleine-largeur {
  max-width: 100%;
}

.media-view-mode-image-embed-demi-largeur,
.media-view-mode-audio-embed,
.media-view-mode-video-embed {
  max-width: 50%;
}
.media-view-mode-image-embed-pleine-largeur,
.media-view-mode-image-embed-demi-largeur,
.media-view-mode-audio-embed,
.media-view-mode-video-embed {
  border-bottom: 4px solid #e3e0db;
  border-top: 4px solid #e3e0db;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 2em;
}
.embedded-entity .field--name-field-media-image,
.embedded-entity .field--name-field-legende-credits {
  display: inline-block;
}
.embedded-entity .field--name-field-media-image {
  margin-bottom: 0.5em;
}
.embedded-entity .field--name-field-legende-credits {
  line-height: 1.25;
  font-size: 10px;
  display: inline;
  float: none;
  margin-bottom: 0;
}
/* Embed */
.embedded-entity audio, 
.embedded-entity canvas, 
.embedded-entity progress, 
.embedded-entity video {
    width: 100%;
}
/* Médias sur Evenements, sur cours */
.field--name-field-media audio, 
.field--name-field-media canvas, 
.field--name-field-media progress, 
.field--name-field-media video {
    width: 100%;
}
/* Ne pas dépasser du cadre (ex: Video) */
audio, 
canvas, 
progress, 
video {
  max-width: 100%;
}

/* Ne pas agrandir sur noeud Video ou Audio */
/* Ne pas agrandir dans Evenement 
.field--name-field-media  */

/* Responsive @media */
/* mobile */
@media (max-width: 460px) {


}
/* col-xs // 0-768 */
@media (max-width: 768px) {


}
/* col-sm // 768-992 */
@media (min-width: 768px) and (max-width: 992px) {

}

/* col-md // 992-1200 */
@media (max-width: 1200px) {

}
/* col-lg 1200+ */
@media (min-width: 1200px) {

}

/* écrans larges */
@media all and (min-width: 1200px) and (max-width: 9999px) {

}

.page-node-type-article-chapitre .field_square_wrapper { 
  min-height: auto; 
}



/* SEARCH */
#edit-search-api-fulltext {
  width: 100%;
}
.minimal-side-menu form input[type=submit] {
  padding: 0;
  font-size: 0;
  color: #fff !important;
  width: 38px;
  height: 25px;
  vertical-align: top;
  background: transparent !important;
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 1;
}
.minimal-side-menu form input[type=submit]:hover {
    color: #fff !important;
}
/* La hauteur de l'icône dans le bloc Recherche est lié au menu latéral*/
i.icon {
  height: 16px;
  width:  16px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 7px;
  right: 51px;
  z-index: 0;
}

/* appliquer de articles-chapitre sur chapitre vers livre carousel chapitres*/
.view-id-chapitres-d-un-livre i.icon {
  font-size: 35px;
  line-height: 46px;
  margin: -90px 0 0 -45px;
  position: absolute;
  text-align: center;
  box-sizing: initial;
  left: 50%;
  width: 45px;
  height: 45px;
  color: #FFFFFF !important;
  padding: 20px;
}


.icon-search {
  background-image: url('../search.svg');
}
 
.mi-menu .sidebar-nav {
  border-left-color: #d2000a !important;
  padding-left: 40px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}

#block-minimal-powered {
  display: none;
}

/* SEARCH RESULTS */
.block-id-views-exposed-filter-blockenvironnement-recherche-general-page-1 .col-md-4 {
  padding-bottom: 2em;
  margin-left: -15px;
}
/* TYPE*/
.path-recherche .views-field-type,
.path-recherche .views-field-bundle {
  font-size: 0.9em;
}
/* titre*/
.path-recherche .views-field-title,
.path-recherche .views-field-name{
  font-size: 1.1225em;
}
.path-recherche .col-lg-9 nav {
 /* margin-top: 2em;
  position: absolute;
  bottom: 0;
  clear: both;
  top: 0;*/
}
/*
.path-carnets ul.js-pager__items,
.path-projets ul.js-pager__items,
.path-archives ul.js-pager__items,
.path-laboratoires ul.js-pager__items,
.path-bibliographie ul.js-pager__items,
.path-recherche ul.js-pager__items,
*/

.path-actualites ul.js-pager__items,
.path-auteurs ul.js-pager__items,
.path-recherche ul.js-pager__items,
.path-projets ul.js-pager__items,
.path-livres ul.js-pager__items {
  clear: both;
}
.path-recherche .col-lg-9 nav {
  clear: both;
}
.view-class-actualites nav,
.view-class-auteurs nav,
.view-class-evenements nav,
.view-class-cours nav,
.view-class-projets nav {
    clear: both;
}
/*
ENVIRONNEMENTS DE RECHERCHE 
.path-auteurs
.path-recherche
.path-archives
.path-cours
.path-bibliographie
*/

ul.js-pager__items {
  text-align: center;
  z-index: 0;
}

/* pagers: .advs-box .btn, .btn-text */
ul.js-pager__items li {
  list-style: none;
  display: inline-block;
  border-bottom: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #272b2b;
  transition: all .5s;
  position: relative;
  border: none;
  padding: 0;
  margin-right: 45px;
  font-size: 14px;
  line-height: 22px;
}

/* Centrer les pagers
cours
*/

.path-recherche .views-row {
  padding-bottom: 2em;
}

.path-archives .img-box .caption {
  font-size: 16px;
  line-height: 24px;
}
/* 
LISTE AUTEURS
recherche
biblio
*/
#edit-actions {
  float: right;
  vertical-align: top;
  position: absolute;
  right: 16px;
  top: -4px;
}
.path-recherche #edit-actions {
  right: 16px;
  top: -3px;
}
.path-contact #edit-actions {
  position: relative;
  right: 0;
  top: 0;
}
.minimal-page-search form input[type=submit]:hover {
  border-color: #d2000a !important;
  color: #d2000a !important;
}
/* réinitialiser la recherche */
.block-id-block-contenta5c5561a-d056-4cf3-a776-8857d378043b {
  /*display: none;*/
}
.block-id-block-contenta5c5561a-d056-4cf3-a776-8857d378043b a.btn {
  font-size: 12px;
}
/* Environnement de recherche : bibliographie */
.path-bibliographie .views-exposed-form {
  margin-bottom: 2em;
}
.path-bibliographie nav {
  clear: both;
}
.minimal-page-search form input[type=submit],
#edit-submit-liste-reference-bibliographique,
.path-bibliographie #edit-search-api-fulltext {
    line-height: 19px;
    background: none;
    border: 1px solid #5a5a5a;
    border-radius: 0 !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #272b2b;
    padding: 9px 35px 6px 35px;
    transition: all .6s;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 0;
}

.minimal-page-search form input[type=text] {
  margin-bottom: 2em;
}
/*.path-bibliographie #edit-search-api-fulltext {
  height: auto;
  border-radius: 0;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  max-width: 100%;
  color: #555555;
  background: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-bottom: 2em;
}*/
.path-bibliographie #edit-search-api-fulltext {
  height: auto;
  border: 1px solid #000;
  width: 80%;
  padding: 0;
  font-size: 14px;
  line-height: 2;
  max-width: 100%;
  color: #555555;
  background: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-bottom: 2em;
}


#edit-submit-liste-reference-bibliographique,
.minimal-page-search form input[type=submit] {
  margin-right: -1px;
}

/*edit-search-api-fulltext*/

/* Harmoniser champs recherche */
#edit-submit-environnement-recherche-general {
  padding-top: 6px;
  padding-bottom: 3px;
  margin-top: 2px;
}
#edit-submit-liste-reference-bibliographique {
  padding-top: 6px;
  padding-bottom: 3px;
  margin-top: 3px;
}
#edit-submit-liste-auteurs {
  padding-top: 6px;
  padding-bottom: 3px;
  margin-top: 3px;
}

.minimal-page-search form input[type=text] {
  border: 1px solid #000;
  line-height: 2;
  max-width: 80%;
  padding: 0;
}

.path-auteur section-empty.section-item.minimal-page-search {
  padding-top: 3em;
}

.bibcite-reference-table td:first-child {
  font-weight: bold;
}
/* séparateurs pour 2 derniers champs */
.bibcite-reference-table tr:nth-last-child(2) {
  border-top: 1px solid #000;
}

/*.view-id-liste-reference-bibliographique .views-field-author {
  font-weight: bold;
}*/

/* Hypothese : bloc rouge 
.field_square_wrapper {
  background-color: #d2000a;
} */
/* vs Hypothese : bloc gris */
.field_square_wrapper {
  background-color: #777;
}
/* Hypothese */
.top-area img {
    max-width: 67%;
}
/* hypothese : image + petite sauf accueil 
.path-frontpage .top-area img {
    max-width: 100%;
}
*/ 

.flexslider.nav-inner {
  margin-bottom: 45px !important;
}


/* Table des matières*/
.full_width_content .block-id-views-blocktable-matieres-article-livre-block-3 {
  display: none;
}
.mi-menu .sidebar-nav {
    border-left-color: #d2000a !important;
    padding-left: 20px;
    text-transform: none;
    font-weight: normal;
}
.view-id-table-matieres-article-livre.view-display-id-block-2 {
  padding-left: 12px;
}
.view-id-table-matieres-article-livre.view-display-id-block-1 {
  padding-left: 12px;
}
.view-id-table-matieres-article-livre {
font-size: 1.5rem;
font-weight: bold;
}
.view-id-table-matieres-article-livre .views-field-view .views-field-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.view-id-table-matieres-article-livre .view-display-id-block-1 .views-field-title {
  font-size: 1.0rem;
  font-weight: normal;
}
.page-node-type-article-chapitre .fixed-area  {
  width: auto !important;
}

/* Accordion */
.field-group-accordion-wrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}
.ui-accordion .ui-accordion-header {
    background: #777;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #ffffff/*{fcActive}*/;
    text-decoration: none;
}
/* Improve: Button custom on/off */

.media-view-mode-image-embed-demi-largeur, .media-view-mode-audio-embed, .media-view-mode-video-embed {
    max-width: 50%;
    float: left;
    margin-right: 20px;
}

/* UI */
ul.minimal-primary-tabs li {
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: 1px solid #777;
}
.view-article-vs-chapitre {
 font-weight: bold;
}
/* Chapitre: Article d'un chapitre : fixer hauteur minimum */
.view-article-vs-chapitre .grid-item.col-md-4 {

}
.page-node-type-chapitre .field--name-field-biblio{
	padding-top: 2em;
}
.page-node-type-chapitre .field--name-field-livre-referent,
.page-node-type-chapitre .field--name-body {
  padding-bottom: 2em;
}


.view-article-vs-chapitre .views-row {
  margin-top: 1em;
}
.view-article-vs-chapitre .advs-box-top-icon.boxed {
  padding: 70px 25px !important;
  min-height: 300px;
}
.view-article-vs-chapitre .views-row {
  margin-left: -15px;
}

.im-align-justifyall:before, .porfolio-bar .fa-th:before, .navbar-toggle .fa-bars:before, .hamburger-button i:before{
 content: "\e9bd"; /* maison */
}
.flexslider {
  background: transparent;
  border: 4px solid #f7f9f9;
  border-radius: 0;
}

/*
* taxonomy 
*/

.path-taxonomy {

}
.path-taxonomy .img-box,
.path-taxonomy hr,
.path-taxonomy .btn,
.path-taxonomy .block-infos,
.path-taxonomy .tag-row,
.path-taxonomy .taxonomy-term {
  display: none;
}
.path-taxonomy h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.niche-box-post h2 a, .niche-box-blog h2 a, .advs-box-side-img.advs-box-blog h2 a {
  text-transform: none;
  font-weight: 700;
  color: #272b2b;
  font-size: 20px;
  line-height: 20px;
}

.bibcite-reference-table td {
  vertical-align: top;
  padding: 10px 10px 10px 0;
}
.view-id-liste-reference-bibliographique .views-row {
  margin-bottom: 2em;
}

.view-id-liste-reference-bibliographique .views-field-title-11,
.path-recherche .views-field-title,
.path-recherche .views-field-name {
  text-transform: none;
  font-weight: 700;
  color: #272b2b;
  font-size: 15px;
  line-height: 20px;
}

/* Livres - nouvelle version */
/* vue livres */
.path-livres .advs-box-side.boxed,
.path-livres .advs-box-side.boxed-inverse,
.path-livres .advs-box-multiple .advs-box-content {
  padding: 0px !important;
}
.path-livres .advs-box .img-box::before {
  overflow: hidden;
}
.path-livres .advs-box h3 {
  padding-top: 3em;
  margin-bottom: 0;
}
/*.path-livres .adv-img p {
  line-height: 1.25;
}*/
.path-livres .advs-box p {
  line-height: 1.33;
}
/* acccueil */
.path-frontpage .view-class-accueil-livre .advs-box-side.boxed,
.path-frontpage .view-class-accueil-livre .advs-box-side.boxed-inverse,
.path-frontpage .view-class-accueil-livre .advs-box-multiple .advs-box-content {
  padding: 0px !important;
}
.path-frontpage .view-class-accueil-livre .advs-box .img-box::before {
  overflow: hidden;
}
.path-frontpage .view-class-accueil-livre .advs-box h3 {
  padding-top: 3em;
  margin-bottom: 0;
}

.path-frontpage .view-class-accueil-livre .advs-box .img-box img {
 /* width: 100%;*/
  margin-left: -7px;
}


/** TEMP
- image plus haute que large sur Entrée Carnet Accueil 
.flexslider .slides img {
    width: 100%;


    display: block;
}
*/

@media screen and (max-width: 992px) {
  .block-quote.quote-1, .block-quote.quote-2 {
      font-size: 18px;
      font-weight: 300;
      padding-left: 0px;
      position: relative;
      text-align: left;
      line-height: 28px;
  }
  .block-quote, div > p.block-quote:last-child {
      margin: 0;
  }
  .block-quote.quote-1:before, 
  .block-quote.quote-2:before {
/* cacher sur petits écrans */
      display: none;
  }
  .block-id-block-content7f23797e-5957-44d4-9931-3781b687d960 .field--name-body {
    width: 100%;
    max-width: 600px;
    /*padding: 2em;
    margin: 2em auto 0;*/
  }

}

@media screen and (min-width: 320px) {

}




/***
* RESPONSIVE 
**/
.responsive .views-row {
  width: 100%;
  float: left;
  padding: 0 1em 1em 0;
}
    
/* à cause de .contextual, on doit utiliser 2n+2 au lieu de 2n+1*/
.responsive .views-row:nth-of-type(2n+1) {
  clear: left;
}

@media screen and (min-width: 768px) {
  .responsive .views-row {
    width: 50%;
  }
       
  .responsive .views-row:nth-of-type(2n+1) {
    clear: left;
  }
}
     
@media screen and (min-width: 1024px) {
  .responsive .views-row {
    width: 33.333%;
  }
   
  .responsive .views-row:nth-of-type(2n+1) {
    clear: none;
  }
   
  .responsive .views-row:nth-of-type(3n+1) {
    clear: left;
  }
}

/***
* RESPONSIVE, if contextual is the first row ()
**/
.responsive.contextual-region .views-row {
  width: 100%;
  float: left;
  padding: 0 1em 1em 0;
}
    
/* à cause de .contextual, on doit utiliser 2n+2 au lieu de 2n+1*/
.responsive.contextual-region .views-row:nth-of-type(2n+2) {
  clear: left;
}

@media screen and (min-width: 768px) {
  .responsive.contextual-region .views-row {
    width: 50%;
  }
       
  .responsive.contextual-region .views-row:nth-of-type(2n+2) {
    clear: left;
  }
  /* séparer davantage les rangées de la liste Cahiers, responsive seulement */
  .view-class-cahiers .views-row {
    padding-bottom: 2em;
    border-bottom: 1px solid #f7f9f9;
  }
}
     
@media screen and (min-width: 1024px) {
  .responsive.contextual-region .views-row {
    width: 33.333%;
  }
   
  .responsive.contextual-region .views-row:nth-of-type(2n+2) {
    clear: none;
  }
   
  .responsive.contextual-region .views-row:nth-of-type(3n+2) {
    clear: left;
  }
}


@media screen and (max-width: 767px) {
/* Carnets Responsive -adapter vue */

/* Liste des cours, conserver 2 colonnes sur mobile vs 1 (480px seul) */
}

@media screen (min-width: 768px) and (max-width: 1023px) {


}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 992px) {
  /* conserver marges sur les contenus sur petits ecrans */
  .vertical-row.row {
    margin: 0;
  }
   /* ne pas cacher le logo sur mobile */
    .side-menu-fixed .brand {
      display: block;
  }
  /* ne pas modifier alignement menu lateral */
  header ul.navbar-nav {
    margin-top: 15px;
    margin: 0;
  }
  .navbar-brand {
    padding: 0;
  }
  .navbar-header {
    background-size: contain;
  }
  .block-infos .bd-month {
    font-size: 15px;
  }
  .page-node-type-actualite .field--name-body {
    padding-top: 3em;
  }
  .path-carnets .views-field-nothing .col-sm-4 {
    width:33%;
    display: inline-block;
    vertical-align: top;
  }
  .path-carnets .views-field-nothing .col-sm-8 {
    width:66%;
    display: inline-block;
    vertical-align: top;
  }
  /* Section presentation - degager corps de texte */
  .col-md-12 .node-view-mode-full {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* reserrer marge carnets */
  .view-id-liste-carnets .col-md-8, .view-id-liste-carnets .col-sm-8 {
    padding: 20px !important;
  }
  .path-carnets .block-minimal-content {
    padding-left: 30px;
    padding-right: 30px;
  }

}
/* mobile */
@media (max-width:767px) {
  /* Ajuster header sur plus petits écrans */
  .path-frontpage .navbar-header {
    min-height: 172px;
  }
  .accueil-actualite {
    width: 80%;
  }
  .accueil-actualite .niche-box-blog .block-infos {
    display: block;
    width: 100%;
    border-right: none;
    clear: both;
  }
  .accueil-actualite .niche-box-blog .block-title {
    display: block;
    width: 100%;
    clear: both;
  }
  .view-class-accueil-cahier .boxed {
    padding: 0 50px 4em;
  }

}

@media (max-width: 768px) {
  /* supprimer override de bootstrap dans le theme */
  .path-seminaires .col-md-6,
  .path-seminaires .col-sm-6 {
      width: 50%;
      float: none;
  }
  .path-livres .col-sm-6 {
      width: 50%;
  }
  /* Images sont à 50%, à l'intérieur du livre, qui fait aussi 50% */
  .path-livres .col-sm-6 .col-sm-6 {
      width: 100%;
  }
   .path-archives .col-sm-6 {
    width: 50%;
    float: left;
  }
  .path-auteurs .col-sm-4 {
    width: 33%;
    float: left;
  }
   /* Carré sur le coté devient pleine largeur dessous */
  .page-node-type-livre .field_square_wrapper, 
  .page-node-type-carnet-de-recherche .field_square_wrapper {
    margin-top: 2em !important;
    min-height: 0;
  }
  .path-livres .col-sm-6 {
    text-align: center;
  }

  .page-node-type-evenement .full_width_content {
    padding-top: 1em;
  }

}

/* tablette et + */
@media (min-width:768px) and (max-width: 992px) {
  /* Accueil : remettre style bootstrap supprimés pour tablette, mobile */
  .block-accueil-evenement .col-md-6,
  .block-accueil-evenement .col-sm-6,
  .view-class-accueil-livre .col-md-6,
  .view-class-accueil-livre .col-sm-6,
  .view-id-accueil-cahier .col-md-6,
  .view-id-accueil-cahier .col-sm-6,
  .path-livres .col-sm-6 .col-sm-6,
  .path-seminaires .col-sm-6,
  .path-archives .col-sm-6 {
    width: 50%;
    float: left;
  }
  .path-auteurs .col-sm-4 {
    width: 33%;
    float: left;
  }
  .accueil-actualite {
    width: 60%;
  }
  .view-class-accueil-cahier {}
  .view-class-accueil-cahier .proporzional-row .grid-list {}
  .path-frontpage .navbar-header {
    min-height: 232px;
  }
  /*332px au plus large */

  .path-frontpage .view-class-accueil-livre .advs-box h3 {
    padding-top: 0.5em;
    margin-bottom: 0;
  }
  .path-frontpage .view-class-accueil-livre .advs-box-side .btn-text, 
  .path-frontpage .view-class-accueil-livre .advs-box-side a.btn {
    margin-top: 0;
  }
  .view-class-accueil-cahier .grid-item {
    padding-bottom: 2em;
  }
  /* Carré sur le coté devient pleine largeur dessous */
  .page-node-type-livre .field_square_wrapper, 
  .page-node-type-carnet-de-recherche .field_square_wrapper {
    margin-top: 2em;
    min-height: 0;
  }

}
/* Ne pas montrer les images, mais conserver les propriétés responsive de l'image */
.page-node-type-livre .flexslider .slides img,
.page-node-type-livre .flexslider .slides img:hover {
  opacity: 0 !important;
}
.adv-img-classic-box .caption-inner .big-text {
  opacity: 1 !important;
}
.adv-img-classic-box:hover .caption-inner {
  margin-top:-50px;
}

.page-node-type-laboratoire-recherche .field--name-field-portrait img {
  max-width: 100%;
  height: auto;
}
/* DEBUG INFO */
.test {
  color: #00f;
}

/* Règles pour remplacer img-box par img-box-front */

.block-accueil-cahier .img-box-front.thumbnail {
  padding: 0;
}
.grid-item .img-box-front:not([class*="row-"]){
  height: 100%;
}
.img-box-front.thumbnail:before {
  margin: 15.4px;
}
.gallery .img-box-front {
  width: 100%;
  display: block;
}
.gallery .img-box-front img {
  width: 100%;
  display:block;
}
.img-box-front:hover img {
  opacity: 0.8 !important
}
.img-box-front img {
  transition: all .3s, margin-top 1ms, width 1ms, max-width 1ms, margin-left 1ms !important;
  outline: 1px solid transparent;
  animation: all .3s !important;
  position: relative;
}
.img-box-front img {
  z-index:2;
}
.img-box-front:hover:before {
  right:0;
  top:0;
  left:0;
  bottom:0;
  opacity:1;
  transition:none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.img-box-front.i-center {
  position: relative;
}
.img-scale-up:hover img {
  transform: scale(1.0) rotate(0deg) !important;
}
/* Centrer pager livres */
.path-livres .content nav {
  width: 100%;
  padding-top: 2em;
}

/* image responsive non distorsionnée - 
article chapitre: body: hauteur libre
*/
.page-node-type-article-chapitre .field--name-field-media-image img {
    max-width: 100%;
    height: auto;
}
/* Description de la section */
.description {
  font-size: 18px;
  opacity: 1 !important;
  color: #fff !important;
  margin: 0;
  font-weight: 400;
  animation: faderightTitle 1.5s;
  text-align: center;
}
/* Accordéon - espace parasitaire si contenu vide */
.ui-accordion .ui-accordion-content.ui-accordion-content-active {
    padding: 0 2.2em;
}

/* classe .container inappropriée */
.page-node-type-individu .view-eva .container {
  width: auto;
}

.page-node-type-individu .view-eva {
  padding-top: 2em;
  padding-bottom: 2em;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #fff;
    text-decoration: none;
}
/* todo:supprimer transition */

.view-id-accueil-evenement .views-row {
	padding-left: 0;
	padding-right: 30px;
}
/*.view-id-accueil-evenement .views-row:first-child {
	padding-left: 0;
}*/

/* tablette et +*/
.view-id-accueil-evenement .views-row:last-child {
	padding-right: 0;
}

.page-node-type-chapitre .advs-box h3 {
  margin-bottom: 0;
}

.view-article-vs-chapitre .grid-item.col-md-4 {
  max-height: 300px;
}
#block-minimal-footer ul {
  padding: 0;
}
#block-minimal-footer li {
  list-style: none;
}
#block-minimal-footer a {
  text-transform: uppercase;
  font-weight: bold;
}
