{% if node.field_header_background_image %}
  {% set image_bg_url = file_url(node.field_header_background_image.0.entity.uri.value) %}
{% else %}
  {% set image_bg_url = page_title_image_bg %}
{% endif %}
{% set sub_title = node.field_sub_title.0.value %}
{% if node.type.entity.id == 'actualite' %}
  {% set sub_title = node.field_type_activite.entity.name.value|render %}
{% elseif node.type.entity.id == 'cahier' %}
  {% set sub_title = node.field_numero.value|render
  ~ " // "
  ~ node.field_date_publication_annee.value|date('U')|format_date('custom_cahier')
  %}
{% elseif node.type.entity.id == 'individu' %}
  {% set sub_title = [] %}
  {% for item in node.field_statut %}
    {% set sub_title = sub_title|merge([item.entity.name.value|render]) %}
  {% endfor %}
  {% set sub_title = sub_title|join(', ') %}
{% elseif node.type.entity.id == 'projet_recherche' %}
  {% set sub_title = node.field_date_projet.value %}
{% endif %}
<div class="header-title white" style="background-image:url({{ image_bg_url }});">
  <div class="container">
    <div class="title-base">
      <hr class="anima" />
      <h1>{{ title }}</h1>
      {% if sub_title %}
        <p class="subtitle">{{ sub_title|raw }}</p>
      {% endif %}
    </div>
  </div>
</div>
