<footer class="footer-center footer-minimal">
    <div class="content">
        <div class="container">
            {% if page.footer_minimal_2 %}
            	{{ page.footer_minimal_2 }}
            {% endif %}
            {% if copyright_text %}
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    <div class="tag-row">
                        {{ copyright_text|t }}
                    </div>
                </div>
            </div>
        	{% endif %}
        </div>
    </div>
</footer>