{% set classes_div = ['nav','navbar-nav'] %}
<div {{ attributes.addClass(classes_div) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>