{% set classes_nav = ['sidebar-nav','box-middle'] %}
<nav {{ attributes.addClass(classes_nav) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>